@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


/* common */
*{
    box-sizing: border-box;
}
body,html{
    font-size:16px;
    line-height:1.6;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    color:#f5f5f7;
    background:#161617;
}
h1{
    font-size:60px;
}
h2{
    font-size:48px;
}
h3{
    font-size:30px;
}
h4{
    font-size:22px;
}
h5{
    font-size:18px;
}
h1,h2,h3,h4,h5,h6{
    line-height:1;
}
dt{
    font-weight:500;
}
a{
    text-decoration: none;
}

.li_dot > li{
    position:relative;
    padding-left:10px;
}
.li_dot > li:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:12px;
    width:2px;
    height:2px;
    background:#333;
}
small{
    font-size:80%;
}

/* layout */
.container{
    width:1000px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.container.wide{
    min-width: 90vw;
}
.container:after{
    content:'';
    display:block;
    clear:both;
}
.flex_row{
    display:flex;
    margin-left:-15px;
    margin-right:-15px;
}
.col{
    flex:1;
    padding-left:15px;
    padding-right:15px;
}
.col_4{
    flex-basis: 33.333%;
}
.col_8{
    flex-basis: 66.666%;
}
::-webkit-scrollbar{
    display: none;
}

/* loading */
#loading{
    z-index: 2000;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:3vh 0;
    background:#000;
    text-align: center;
    display:flex;
    flex-flow: column;
    justify-content: start;
    align-items:center;
}
.loading_text{
    opacity: 0;
    position:relative;
    color:transparent;
    -webkit-text-stroke: 1px #f5f5f7;
    font-weight: 900;
    font-style: italic;
    font-size:10vh;
    line-height:1;
    transition: all .8s ease;
    text-transform: uppercase;
    transform: scale(0.9);
}
.loading_text.in{
    opacity: 0.8;
    transform: scale(1);
}
.loading_text.active{
    color:transparent;
    opacity: 1;
}
.loading_text:nth-child(5):before{
    content:'Hi. My Name is Brann.';
    opacity:0;
    z-index: 10;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(45deg,#f5f5f7, #f7ff87, #bcffb3);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.6s ease 0.8s;
}
.loading_text.active:before{
    opacity:1;
}

/* navigation */
#navi{
    z-index: 1060;
    position:fixed;
    left:0;
    top:-57px;
    width:100%;
    padding:15px 0;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(29,29,31,.72);
    border-bottom:1px solid #111;
    transition: all .8s ease;
    /* box-shadow: 0px 5px 5px  rgb(0 0 0 / 10%); */
}
.on #navi{
    top:0;
}
#navi .flex_row{
    justify-content: space-between;
    align-items: center;
}
#menu_name{
    font-size:24px;
    font-weight:600;
    color:#f5f5f7;
    cursor: pointer;
    letter-spacing: -0.03em;
}
#menu_name .icon{
    transform: translatey(3px);
}
.menu_list{
    display: none;
}
.top_link{
    display: flex;
    white-space: nowrap;
}
.top_link li{
    position:relative;
    flex:1;
    margin:0;
    padding:0 10px;
    line-height:1;
}
.top_link li + li:before{
    content:'';
    display: block;
    position:absolute;
    left:0;
    top:50%;
    transform:translatey(-50%);
    margin-top:2px;
    width:1px;
    height:15px;
    background:#333;
}
.top_link li a{
    font-size:12px;
    color:#f5f5f7;
    font-weight:500;
}

/* #menu_icon{
    display:flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
    flex-flow: column;
    justify-content: space-around;
}
#menu_icon .icon_bar{
    display:block;
    width: 100%;
    height:3px;
    background:#222;
    transition:all .3s ease;
} */

/* scollbar */
#nav_scroll{
    z-index:1000;
    position:fixed;
    right:-10px;
    top:50%;
    transform:translateY(-50%) scale(0.85);
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: 0;
    transition:all .8s ease;
}
.on #nav_scroll{
    opacity:1;
    right:20px;
    transform:translateY(-50%) scale(1);
}
#scroll_bar{
    position:relative;
    width:12px;
    height:150px;
    border-radius: 50px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(129, 129, 133, 0.72);
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    transition:all .3s ease;
}
#scroll_bar:hover{
    width:20px;
}
#scroll_bar .inner{
    position: absolute;
    left:50%;
    top: 2%;
    width:1px;
    height:calc(96% - 8px);
}
#scroll_bar:hover .inner{
    height:calc(96% - 12px);
}
#scroll_bar .current_indicator{
    display: block;
    position:absolute;
    left:50%;
    top:20%;
    transform:translateX(-50%);
    width: 8px;
    height:8px;
    background:#f5f5f7;
    opacity: 0.8;
    border-radius: 50%;
    cursor: pointer;
    transition:all .3s ease;
}
#scroll_bar:hover .current_indicator{
    width: 12px;
    height:12px;
}
#scroll_top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;
    width:20px;
    height:20px;
    border-radius: 50%;
    color:#fff;
    font-weight: bold;
    font-size:8px;
    background:rgb(230 230 230 / 30%);
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

/* main_content */
.main_content section{
    min-height:100vh;
    padding:120px 0;
    border-bottom:1px solid rgb(255 255 255 / 10%);
}
.main_content .main_title{
    font-weight:bold;
    font-size:54px;
    line-height:1.3;
    letter-spacing: -0.03em;
    color:#cecece;
}
.main_content .main_title .emp{
    color:transparent;
    background:linear-gradient(180deg,#f5f5f7, #f7ff87, #25c6db);
    background-clip: text;
    -webkit-background-clip: text;
}

/* main_view */
#main_view{
    position:relative;
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    text-align:center;
    overflow:hidden;
}
#main_view:before{
    content:'';
    display: block;
    z-index: 10;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#main_view #main_bg{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index: 0;
    min-width: 100%;
    min-height:110%;
    object-fit: cover;
}
#main_bg::-moz-media-controls,
#main_bg::-webkit-media-controls {
    display: none!important;
}
#main_view .container{
    z-index: 50;
    position: relative;
}

#main_view .top_title,
#main_view .bottom_title{
    font-size:24px;
}
#main_view .middle_title span{
    position:relative;
    display: inline-block;
    margin:15px 0 25px;
    font-size:72px;
    font-weight:bold;
    line-height:1;
    color:transparent;
    background:linear-gradient(180deg,#f5f5f7, #f7ff87, #25c6db);
    background-clip: text;
    -webkit-background-clip: text;
}
#main_view .middle_title span:before{
    content:'';
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-left:-30px;
    display: block;
    width:0;
    height:0;
    background:#fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    transition:all .3s ease;
}
#main_view .middle_title span:hover:before{
    width:80px;
    height:80px;
}
#main_view .middle_title span small{
    display: inline-block;
    width:0;
    font-size:24px;
    overflow-x: hidden;
    text-align: left;
    text-transform: uppercase;
    color:#fff;
    transition:all 0.4s ease;
}
#main_view .middle_title span:hover small{
    width:140px;
}

/* intro */
#intro h3{
    margin-bottom:80px;
    text-align: center;
}
#intro .flex_row{
    margin: 0 -10px 20px;
    align-items: stretch;
}
#intro .flex_row > .col{
    padding-left:10px;
    padding-right:10px;
}
.summary_wrap dl {
    height:100%;
    padding:20px 25px 25px;
    border-radius: 20px;
    background:#050505;
}
.summary_wrap dl dt{
    margin-bottom:5px;
    max-width: fit-content;
    font-size:18px;
    font-weight:bold;
}
.summary_wrap dl dd + dt{
    margin-top:15px;
}
.summary_wrap .skill_dl dd{
    position:relative;
    display: inline-flex;
    margin:6px 3px;
    justify-content: center;
    align-items: center;
    width:46%;
    min-height:60px;
    text-align: center;
    
}
.summary_wrap .skill_dl dd span{
    z-index: 10;
    position: relative;
    font-size:13px;
    line-height:1.2;
}
.summary_wrap .skill_dl dd:before,
.summary_wrap .skill_dl dd:after{
    content:'';
    z-index: 1;
    display:block;
    position:absolute;
    transition:all .3s ease;
}
.summary_wrap .skill_dl dd:before{
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    /* background:linear-gradient(330deg, #4d37f5,#46bcfb, #bafffc); */
    background: linear-gradient(145deg, #97ff87, #25c6db);
    /* animation: rotate 4s linear infinite; */
}
.summary_wrap .skill_dl:nth-child(4) dd:before{
    background-position: 100% 0;
}
.summary_wrap .skill_dl dd:after{
    width: calc(100% - 2px);
    height:calc(100% - 2px);
    left: 1px;
    top: 1px;
    background:#050505;
}
.summary_wrap dl li{
    font-size:14px;
    opacity: 0.9;
    line-height:1.8;
}

@keyframes rotate {
    0%{
        background-position: 0 0;
    }
    33.33%{
        background-position: 100% 0;
    }
    66.66%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}
/* history */

#history_wrap{
    position:relative;
}
#history_wrap .txt_box{
    z-index: 10;
    position:sticky;
    left:0;
    top:120px;
    margin-bottom: calc(100vh - 320px);
    width:100%;
    color:#cecece;
}
#history .main_line,
#history .sub_line{
    position:relative;
    height:1em;
    line-height: 1;
    overflow: hidden;
}
#history .main_line span,
#history .sub_line span{
    position:absolute;
    left:0;
    top:100%;
    transition:all .3s ease;
}
#history .main_line span.active,
#history .sub_line span.active{
    top:0;
}
#history .main_line{
    margin-bottom:30px;
    font-size:42px;
    font-weight: bold;
}
#history .sub_line{
    font-size:20px;
}
#history .sub_line strong{
    color:#fff;
    font-weight: bold;
}

#history_content article{
    position:relative;
    min-height:100vh;
}
#history_content .history_img{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
}

/* personality */
#personality .main_title{
    margin-bottom:60px;
}
.personality_li{
    padding-left:4px;
}
.personality_li li{
    line-height:2;
    font-size:20px;
    color:#cecece;
    cursor:pointer;
    transition:all .3s ease;
}
.personality_li li:hover{
    color:#fff;
}

/* footer */