@charset "utf-8";
@import "_font.scss", "_color.scss";

.renew {
    /* loading */
    #loading {
        z-index: 2000;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 90px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background: #000;
        white-space: nowrap;
        perspective: 2000px;
    }
    #loading > div {
        visibility: hidden;
        z-index: 1900;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }
    #loading > div.active {
        z-index: 2000;
        visibility: visible;
    }
    #loading > div.dark {
        color: #f5f5f7;
        background: #000;
    }
    #loading > div.light {
        color: #161617;
        background: #fff;
    }

    /* loading-phase1 */
    #loading #phase1 p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    #loading #phase1 span {
        opacity: 0;
    }
    #loading #phase1 p.active span {
        opacity: 1;
    }
    #loading #phase1 .l1 .t1 {
        transition-delay: 0s;
    }
    #loading #phase1 .l1 .t2 {
        transition-delay: 0.7s;
    }
    #loading #phase1 .l1 .t3 {
        transition-delay: 0.9s;
    }
    #loading #phase1 .l1 .t4 {
        transition-delay: 1.1s;
    }
    #loading .main-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* loading-phase2~4 */
    #loading .trait .main-text {
        height: 1em;
    }
    #loading .main-text .sup-text {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: -50px;
        transform: translateX(-50%);
        display: block;
        font-size: 24px;
        letter-spacing: -1em;
        margin-left: -1em;
    }
    #loading .main-text.active .sup-text {
        opacity: 1;
        letter-spacing: 1.5em;
        margin-left: 1.5em;
        transition: letter-spacing 0.7s ease-out;
    }
    #loading .trait .main-text span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scalex(1);
        letter-spacing: -0.03em;
        line-height: 1;
        mix-blend-mode: multiply;
        transition: all 0.7s ease;
    }
    #loading .trait .main-text.active span {
        transform: translateX(-50%) scalex(1.3);
    }
    #loading .main-text .text-c {
        color: #00aeef;
    }
    #loading .main-text .text-m {
        color: #d33d76;
    }
    #loading .main-text .text-y {
        color: #fee716;
    }
    #loading .main-text.active .text-c {
        margin-left: 1.15em;
    }
    #loading .main-text.active .text-y {
        margin-left: -1.15em;
    }

    /* loading-phase5 */
    #loading #phase5 p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #loading #phase5 .l1 {
        height: 1em;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    #loading #phase5 .l1 span {
        display: inline-block;
        line-height: 1;
        vertical-align: top;
        transition: all 1s ease;
    }

    #loading #phase5 .l1 .t1 {
        transition-delay: 0s;
    }
    #loading #phase5 .l1 .t2 {
        transition-delay: 0.5s;
    }
    #loading #phase5 .l1 .t3 {
        transition-delay: 0.9s;
    }

    #loading #phase5 .l2 {
        width: 1200px;
        max-width: 100%;
        text-align: left;
        padding: 0 15px;
    }
    #loading #phase5 .l2 span {
        opacity: 0;
        display: block;
        line-height: 1;
        font-size: 120px;
        font-weight: bold;
        letter-spacing: -0.04em;
        transition: all 0.5s ease;
    }
    #loading #phase5 .l2 .t1 {
        transition-delay: 0s;
    }
    #loading #phase5 .l2 .t2 {
        transition-delay: 0.5s;
    }
    #loading #phase5 .l2 .t3 {
        transition-delay: 1s;
    }
    #loading #phase5 .l2.active span {
        opacity: 1;
    }

    #loading-close {
        opacity: 0;
        display: flex;
        z-index: 2020;
        position: absolute;
        right: 50px;
        bottom: 50px;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 16px;
        font-weight: bold;
        color: #161617;
        background: #fee716;
        overflow: hidden;
        transition: all 0.3s ease-in;
    }
    #loading-close:hover {
        animation-name: fliping-btn;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    #loading-close.active {
        opacity: 1;
    }
    @keyframes fliping-btn {
        0% {
            transform: rotateY(0);
        }
        25% {
            transform: rotateY(-20deg);
        }
        50% {
            transform: rotateY(20deg);
        }
        75% {
            transform: rotateY(-20deg);
        }
        100% {
            transform: rotateY(0);
        }
    }
    /* navigation */
    #navi {
        z-index: 1060;
        position: fixed;
        left: 0;
        top: -56px;
        width: 100%;
        padding: 15px 0;
        height: 55px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(29, 29, 31, 0.72);
        border-bottom: 1px solid #111;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
        &.fade {
            opacity: 0;
        }
    }
    #navi.on {
        top: 0;
    }

    #navi.active {
        height: 350px;
        background: #161617;
        box-shadow: 20px 0 20px 20px rgb(0 0 0 / 20%);
        transition: all 0.4s ease-in-out;
    }
    .renew {
        overflow: hidden;
        &.on {
            overflow: initial;
        }
    }
    .renew:before {
        content: "";
        opacity: 0;
        z-index: 1020;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(29, 29, 31, 0.72);
        width: 100%;
        height: 0;
        transition: opacity 0.4s ease-in-out;
    }
    .renew.blur {
        overflow: hidden;
    }
    .renew.blur:before {
        opacity: 1;
        height: 100vh;
    }
    #navi.active:after {
        content: "";
        z-index: 1040;
        display: block;
        position: absolute;
        left: 0;
        top: 55px;
        width: 100%;
        height: 1px;
        background: rgb(255 255 255 / 10%);
    }
    #navi .flex-row {
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1060;
    }
    #menu-name {
        position: relative;
        display: flex;
        font-size: 24px;
        align-items: center;
        line-height: 1;
    }
    #menu-name .curr-name {
        font-weight: 600;
        color: #f5f5f7;
        cursor: pointer;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    #menu-name .icon {
        cursor: pointer;
        vertical-align: initial;
    }
    #navi.active #menu-name .icon {
        transform: rotateX(180deg);
    }
    // .menu-list {
    //     z-index: 1040;
    //     position: absolute;
    //     left: 0;
    //     top: 50px;
    //     text-transform: uppercase;
    //     transition: all 0.3s ease-in;
    //     opacity: 0;
    // }
    #navi.active .menu-list {
        opacity: 1;
    }
    #navi .menu-list li {
        opacity: 0;
        transition: all 0.3s ease-in;
    }
    #navi .menu-list li:nth-child(1) {
        transition-delay: 0.1s;
    }
    #navi .menu-list li:nth-child(2) {
        transition-delay: 0.15s;
    }
    #navi .menu-list li:nth-child(3) {
        transition-delay: 0.2s;
    }
    #navi .menu-list li:nth-child(4) {
        transition-delay: 0.25s;
    }
    #navi .menu-list li:nth-child(5) {
        transition-delay: 0.3s;
    }
    #navi .menu-list li:nth-child(6) {
        transition-delay: 0.35s;
    }
    #navi .menu-list li:nth-child(7) {
        transition-delay: 0.4s;
    }
    #navi .menu-list li:nth-child(8) {
        transition-delay: 0.45s;
    }
    #navi.active .menu-list li {
        opacity: 1;
    }
    #navi .menu-list li a {
        position: relative;
        display: block;
        width: fit-content;
        padding: 9px 0px;
        font-size: 18px;
        color: #c1c1c1;
        font-weight: 500;
        overflow: hidden;
    }
    #navi.active .menu-list li a:hover {
        color: #f5f5f7;
    }
    #navi.active .menu-list li a:before {
        content: "";
        position: absolute;
        left: -110%;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 1px;
        background: #c1c1c1;
        transition: all 0.3s ease-in;
    }
    #navi.active .menu-list li a:hover:before {
        left: 0;
    }
    .top-link {
        display: flex;
        white-space: nowrap;
        justify-content: flex-end;
    }
    .top-link li {
        position: relative;
        margin: 0;
        padding: 0 10px;
        line-height: 1;
    }
    .top-link li:last-child {
        padding-right: 0;
    }
    .top-link li + li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translatey(-50%);
        margin-top: 2px;
        width: 1px;
        height: 15px;
        background: #333;
    }
    .top-link li a {
        font-size: 12px;
        color: #f5f5f7;
        font-weight: 500;
    }

    /* scollbar */
    #nav-scroll {
        z-index: 1000;
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) scale(0.85);
        display: flex;
        flex-flow: column;
        align-items: center;
        opacity: 0;
    }
    &.on #nav-scroll {
        animation-name: navi;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    @keyframes navi {
        0% {
            opacity: 0;
            transform: translateY(-50%) scale(0.85);
        }
        70% {
            opacity: 1;
            transform: translateY(-50%) scale(1.03);
        }
        100% {
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }
    #scroll-bar {
        position: relative;
        width: 14px;
        height: 150px;
        border-radius: 50px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(129, 129, 133, 0.72);
        box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
        transition: all 0.1s ease-in-out;
    }
    #scroll-bar .inner {
        position: absolute;
        left: 50%;
        top: 2%;
        width: 1px;
        height: calc(96% - 8px);
        margin-left: -1px;
    }

    #scroll-bar .current-indicator {
        display: block;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        background: #f5f5f7;
        opacity: 0.8;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
    }

    #scroll-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        font-size: 8px;
        background: #2997ff;
        box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    }
    #scroll-top:before {
        content: "";
        display: block;
        border-bottom: 5px solid #fff;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    /* main-content */
    .main-content section {
        z-index: 10;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        // min-height: 100vh;
        padding: 120px 0;
        background: #161617;
        // border-bottom: 1px solid rgb(255 255 255 / 10%);
    }
    .main-content .main-title {
        font-weight: bold;
        font-size: 54px;
        line-height: 1.3;
        letter-spacing: -0.03em;
        color: #cecece;
    }
    .main-content .main-title .emp {
        position: relative;
        display: inline-block;
        color: transparent;
        background-color: #86868b;
        background-clip: text;
        -webkit-background-clip: text;
        overflow: hidden;
        vertical-align: bottom;
    }
    .main-content .main-title .emp:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #23e4ca;
        background-image: linear-gradient(-45deg, #23e4ca 0%, #fffb7d 100%);
    }
    .active .main-title .emp:before {
        animation-name: textEmpBg;
        animation-duration: 0.8s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .active .main-title .emp {
        animation-name: textEmp;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
    }
    @keyframes textEmp {
        0% {
            background-color: #86868b;
        }
        90% {
            background-color: #86868b;
        }
        100% {
            background-clip: text;
            -webkit-background-clip: text;
            background-color: #23e4ca;
            background-image: linear-gradient(-45deg, #23e4ca 0%, #fffb7d 100%);
        }
    }
    @keyframes textEmpBg {
        0% {
            width: 0%;
            left: 0;
        }
        65% {
            width: 200%;
            left: 0%;
        }
        99% {
            opacity: 1;
            width: 200%;
            left: 205%;
        }
        100% {
            opacity: 0;
            width: 200%;
            left: 205%;
        }
    }
    .main-content [data-acive="fadeup"] {
        transform: translateY(50px);
        opacity: 0.5;
        transition: all 0.3s ease-out;
    }
    .main-content section.active [data-acive="fadeup"] {
        transform: translateY(0);
        opacity: 1;
    }
    .main-content [data-acive="fadeleft"] {
        transform: translateX(-50px);
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .main-content section.active [data-acive="fadeleft"] {
        transform: translateY(0);
        opacity: 1;
    }
    .main-content [data-active-idx="1"] {
        transition-delay: 0.3s;
    }
    .main-content [data-active-idx="2"] {
        transition-delay: 0.4s;
    }
    .main-content [data-active-idx="3"] {
        transition-delay: 0.5s;
    }
    .main-content [data-active-idx="4"] {
        transition-delay: 0.6s;
    }

    // /* example */
    // #example .main-title {
    //     margin-bottom: 60px;
    // }
    // #major-wrap,
    // #major-wrap article {
    //     position: relative;
    // }
    // #major-wrap article:not(.example1) {
    //     margin-top: -30px;
    // }
    // #major-wrap article img {
    //     position: relative;
    //     display: block;
    //     width: 60%;
    //     box-shadow: 0 0 10px 10px rgb(0 0 0 /30%);
    //     filter: brightness(0.5);
    // }
    // #major-wrap .example1 img {
    //     left: 20%;
    //     z-index: 3;
    // }
    // #major-wrap .example2 img {
    //     left: -10%;
    //     z-index: 5;
    // }
    // #major-wrap .example3 img {
    //     left: 10%;
    //     z-index: 3;
    // }
    // #major-wrap .example4 img {
    //     left: -20%;
    //     z-index: 5;
    // }

    // #major-wrap article .txt-box {
    //     z-index: 1;
    //     position: absolute;
    //     left: 0%;
    //     bottom: 0;
    //     opacity: 0;
    //     padding: 0 30px 60px;
    //     width: 40%;
    //     transition: all 0.5s ease;
    // }
    // #major-wrap .example4 .txt-box {
    //     padding-bottom: 0;
    // }
    // #major-wrap .txt-box h5 {
    //     margin-bottom: 5px;
    //     font-size: 24px;
    //     font-weight: 600;
    //     color: #f5f5f7;
    // }

    // #major-wrap .txt-box .period {
    //     margin-bottom: 45px;
    // }
    // #major-wrap .txt-box .des {
    //     margin-bottom: 15px;
    //     color: #a1a1a6;
    // }
    // #major-wrap .txt-box .des strong {
    //     color: #f5f5f7;
    // }
    // #major-wrap .txt-box .more:hover {
    //     text-decoration: underline;
    // }
    // #major-wrap .txt-box .more .icon {
    //     margin-left: -5px;
    // }

    // #major-wrap .reverse .txt-box {
    //     left: auto;
    //     right: 0%;
    //     padding-left: 0;
    // }
    // #major-wrap .reverse img {
    //     margin-left: auto;
    // }
    // #major-wrap .reverse h5 {
    //     padding-right: 15px;
    //     width: fit-content;
    // }

    // #major-wrap article.active:not(.reverse) .txt-box {
    //     opacity: 1;
    //     left: 60%;
    // }
    // #major-wrap article.active.reverse .txt-box {
    //     opacity: 1;
    //     right: 60%;
    // }
}

/* responsive */
@media (max-width: 999px) {
    .renew {
        /* loading */
        #loading {
            font-size: 50px;
        }
        #loading #phase1 span {
            font-size: 34px;
        }
        #loading .main-text .sup-text {
            top: -40px;
            font-size: 16px;
        }
        #loading #phase5 .l1 span {
            font-size: 28px;
        }
        #loading #phase5 .l2 {
            margin-top: -14px;
            text-align: center;
        }
        #loading #phase5 .l2 span {
            font-size: 56px;
            line-height: 1.2;
            height: 1.2em;
        }
        #loading-close {
            right: 20px;
            bottom: 20px;
            width: 80px;
            height: 80px;
            font-size: 14px;
        }
        /* common */
        body,
        html {
            width: 100vw;
            overflow-x: hidden;
        }
        .flex-row {
            flex-wrap: wrap;
        }
        .flex-row > .col {
            flex-basis: 100%;
        }
        .visible-xs {
            display: block;
        }
        .hidden-xs {
            display: none;
        }

        /* navi */
        #navi {
            height: 48px;
            top: -49px;
        }
        #navi.active {
            height: 330px;
        }
        #navi .flex-row {
            align-items: center;
        }
        #navi .flex-row > .col {
            flex-basis: initial;
        }
        #menu-name {
            flex: initial;
            font-size: 17px;
        }
        #menu-name .icon {
            height: 17px;
            display: inline-flex;
            align-items: center;
        }
        .top-link .resume {
            padding-right: 0;
        }
        .top-link .email {
            display: none;
        }
        #navi .menu-list li a {
            font-size: 15px;
        }

        /* scroll */
        #nav-scroll {
            display: none;
            right: 10px;
        }
        #scroll-top {
            margin-top: 8px;
        }

        /* main-content */
        .main-content section {
            padding: 100px 0;
        }
        .main-content .main-title {
            margin-bottom: 20px;
            font-size: 40px;
        }
        .main-content [data-acive="fadeup"] {
            transform: translateY(0);
        }

        #main-view .container {
            margin-top: -28px;
        }
        #main-view .middle-title span {
            font-size: 56px;
            line-height: 1.2;
            height: 1.2em;
            text-align: center;
        }

        #intro h3 {
            margin-bottom: 60px;
        }
        #intro .flex-row {
            margin-bottom: 0;
        }
        .summary-wrap dl {
            margin-bottom: 15px;
            height: auto;
        }
        .summary-wrap dl dt {
            font-size: 18px;
        }
        .summary-wrap .skill-dl dd:before {
            left: -60%;
        }

        #history .txt-box {
            margin-bottom: 40vh;
            padding-top: 0;
            word-break: keep-all;
        }
        #history .main-line,
        #history .sub-line {
            height: 2.4em;
            line-height: 1.2;
            overflow: initial;
        }
        #history .main-line span,
        #history .sub-line span {
            top: 0;
            opacity: 0;
            white-space: initial;
        }
        #history .main-line span.active,
        #history .sub-line span.active {
            opacity: 1;
        }
        #history .main-line {
            font-size: 30px;
        }

        #personality .main-title {
            margin-bottom: 30px;
            font-size: 34px;
            line-height: 1.2;
        }
        .personality-li {
            margin-bottom: 45px;
        }
        .personality-li li {
            display: none;
            line-height: 1.4;
            word-break: keep-all;
        }
        .personality-li li.active {
            display: block;
        }
        .personality-icon {
            margin: 0 auto;
            width: 80vw;
            height: 80vw;
        }
        .personality-icon span {
            font-size: 35vw;
        }
        .personality-wrap .icon-box:before {
            width: 80vw;
            height: 80vw;
        }

        #project .sub-title {
            line-height: 1.4;
        }
        .project-wrap .col:nth-child(1) ul {
            border-radius: 20px 20px 0 0;
            padding-top: 30px;
            padding-bottom: 0;
        }
        .project-wrap .col:nth-child(2) ul {
            border-radius: 0 0 20px 20px;
            padding-top: 0;
        }
        .project-wrap ul li.active a,
        .project-wrap ul li a {
            color: #f5f5f7;
            border-bottom: 1px solid;
        }
        .project-wrap ul .bg {
            display: none;
        }

        #example #major-wrap article {
            margin-top: 0;
            overflow: hidden;
        }
        #major-wrap article img {
            position: static;
            width: 100%;
        }
        #major-wrap article .txt-box {
            position: static;
            left: 0;
            width: 100%;
            opacity: 1;
            padding: 30px 0px 60px;
        }

        #contact {
            margin-bottom: 74px;
            padding-top: 100px;
        }
        #contact .main-title {
            margin-bottom: 30px;
        }
        #contact .contact-li li {
            font-size: 16px;
        }

        .profile-img {
            width: 66vw;
            height: 66vw;
        }
        #contact .contact-li .icon {
            transform: translateY(0px);
        }

        #footer .copy {
            text-align: left;
        }
    }
}

/* responsive -tablet */
@media (max-width: 999px) and (min-width: 768px) {
    .renew {
        .summary-wrap .skill-dl dd:before {
            height: 520%;
            width: 160%;
            margin-top: -20%;
            margin-left: 20%;
        }
    }
}

/* 새로 작성하는 코드 */
.renew {
    //common
    section {
        h2 {
            margin: 0 0 40px;
            @include main-title;

            font-weight: bold;
            color: $gray100;
            // &.fade-in {
            //     opacity: 0;
            //     transform: translateY(-12px);
            //     transition: all 0.78s ease;
            // }

            & + p {
                margin: -24px 0 40px;
                @include sub-title;
                color: $gray300;
                strong {
                    font-weight: bold;
                    color: $gray200;
                }
            }
        }
        // &.active h2.fade-in {
        //     opacity: 1;
        //     transform: translateY(0);
        // }
    }

    //key visual
    #key-visual {
        padding: 0 0 120px;
        height: 200vh;
        justify-content: flex-start;
        background: $section-bg;
        background: linear-gradient(90deg, $section-bg, #0b0b17, $section-bg);
        .container {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        h2 {
            color: $white;
            text-align: center;
        }
        .visual-wrap {
            position: fixed;
            top: 120px;
            display: flex;
            width: 100%;
            height: calc(100vh - 200px);
            align-items: center;
            flex-flow: column;

            .txt-box {
                // position: absolute;
                // left: 50%;
                // top: 0;
                // transform: translateX(-50%);
                text-align: center;
                h2 {
                    margin-top: 32px;
                    @include hero;
                    line-height: 1.4;
                    font-weight: 700;
                    .highlight {
                        @include text-gradient;
                    }
                    small {
                        display: block;
                        font-weight: 400;
                        @include second-title;
                        color: #fff;
                    }
                }
            }
        }
        .cowork-text {
            font-size: 5vw;
            white-space: nowrap;
            text-transform: uppercase;
            position: absolute;
            left: 30px;
            bottom: -100vh;
            writing-mode: vertical-rl;
            @include text-outline;
            color: $section-bg;
        }
        .job-text {
            font-size: 10vw;
            white-space: nowrap;
            text-transform: uppercase;
            position: absolute;
            right: 30px;
            top: 0vh;
            writing-mode: vertical-rl;
            @include text-outline;
            color: #101021;
        }

        .canvas-wrap {
            width: 100%;
            max-width: 1920px;
            aspect-ratio: 1920 / 850;
            overflow: hidden;
        }
        #canvas {
            display: block;
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
    }

    //example
    #example {
        .webapp-wrap {
            height: 200vh;
        }
        .mobile-wrap {
            position: sticky;
            top: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #efefef;

            .app-screen {
                z-index: 10;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
                // border: 1px solid $primary;
                .screen-img {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    background: $primary;
                    background: #135ce5 url("../img/renew/mobile_screen.webp") no-repeat center / contain;
                }
            }

            .img-container {
                z-index: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 600px;
                max-width: 100%;
                margin: 0 auto;
                .mockup-img {
                    width: 100%;
                }
                .sample-screen {
                    z-index: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 8.3%;
                    width: 38.6%;
                    aspect-ratio: 9 / 19.4;
                    border-radius: 30px;
                    background: url(../img/renew/mobile_screen.webp) no-repeat center / contain;
                }
                .camera {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 10%;
                    width: 13%;
                    height: 3%;
                    background: #000;
                    border-radius: 30px;

                    opacity: 0;
                }
                .tab-bar {
                    position: absolute;
                    left: 50%;
                    top: 89%;
                    width: 17%;
                    height: 0.9%;
                    background: #efefef;
                    transform: translateX(-50%);
                    border-radius: 30px;
                    mix-blend-mode: hard-light;

                    opacity: 0;
                }
            }
            &.on {
                .app-screen {
                    top: 8.8%;
                    width: 12%;
                    min-width: 228px;
                    height: 81%;
                    border-radius: 30px;

                    .screen-img {
                        opacity: 0;
                    }
                }
                .img-container {
                    .camera,
                    .tab-bar {
                        opacity: 1;
                    }
                }
            }
        }

        .at2 {
            min-height: 800px;
            background: url(../img/renew/labtop_screen.webp) no-repeat right 32px bottom 0 / 66%;
        }

        .description-wrap {
            position: relative;
            padding-top: 120px;

            .project-info {
                margin-bottom: 40px;
                @include body-text;
                dt {
                    color: #fff;
                }
                dd {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: $gray400;
                }
                dd + dt {
                    margin-top: 20px;
                }
            }
            .app-icon {
                margin-bottom: 20px;
                width: 60px;
                border-radius: 12px;
            }
        }
    }

    //history
    #history {
        justify-content: flex-start;
        padding-bottom: 0;
        h2 {
            text-align: left;
            color: $gray100;
        }

        .container {
            height: 300vh;
        }
        #history-wrap {
            position: sticky;
            top: 40px;
            left: 0;
            height: 100vh;
        }
        .main-line {
            margin: 0 0 24px;
            @include second-title;
            line-height: 1.25;
            font-weight: 500;
            color: #fff;
            .text-highlight {
                font-weight: bold;
                @include text-gradient;
            }
        }
        .sub-line {
            margin: 0 0 40px;
            @include sub-title;
            color: $gray100;
        }

        #history-content {
            position: relative;
            width: 300%;
            display: flex;
            gap: 20px;
            perspective: 1000px;
            article {
                flex: 0 0 25%;
                padding: 40px;
                border-radius: 24px;
                background: rgba(0, 0, 0, 1);

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .history-progress {
            z-index: 1000;
            position: fixed;
            left: 50%;
            bottom: 40px;
            transform: translateX(-50%) scaleY(0);
            width: 400px;
            height: 80px;
            perspective: 1000px;

            opacity: 0;
            transition: transform 0.5s ease;

            .inner {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                -webkit-backdrop-filter: saturate(180%) blur(20px);
                backdrop-filter: saturate(180%) blur(20px);

                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                padding: 20px 40px;
            }
            .progress-bar {
                width: 100%;
                height: 6px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.5);
                overflow: hidden;
                .progress-value {
                    width: 0;
                    height: 100%;
                    background: #fff;
                }
            }

            &.active {
                transform: translateX(-50%) scaleY(1);
                opacity: 1;
            }
        }
    }

    //example
    // #example {
    //     h2 {
    //         margin-bottom: 80px;
    //     }
    // }

    //core competencies
    #core {
        h2 {
            margin-bottom: 40px;
            text-align: left;
        }
        .flex-row {
            margin: 0 -10px;
            gap: 20px 0;
            // align-items: stretch;
            flex-wrap: wrap;
        }
        .flex-row > .col {
            padding-left: 10px;
            padding-right: 10px;
            perspective: 2000px;
        }
        .summary-wrap {
            perspective: 2000px;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease-in;
        }
        &.active .summary-wrap {
            opacity: 1;
            transform: translateY(0px);
        }
        .skill-dl {
            position: relative;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 12px;
            padding: 20px 24px 24px;
            height: 100%;
            align-items: start;
            border-radius: 20px;
            background: #050505;
            cursor: default;

            perspective: 1000px;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                transition: all 0.2s ease-in-out;
                background-color: #478bff;
                background-image: linear-gradient(145deg, #00ffff, #478bff);
                mix-blend-mode: soft-light;
                opacity: 0;
            }
            &:hover::after {
                top: 0%;
                left: 0%;
                opacity: 1;
            }

            dt {
                grid-column: 1 / -1;
                @include sub-title;
                font-weight: 600;
            }
            dd {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 80px;
                padding: 8px;
                text-align: center;
                border: 1px solid rgb(255 255 255 / 20%);
                border-radius: 4px;
                flex-flow: column;
                gap: 8px;
                transition: all 0.05s ease;

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    border-top: 5px dotted #478bff;
                }
                &[data-level="1"]::after {
                    width: 6px;
                    opacity: 0.5;
                    filter: saturate(0);
                }
                &[data-level="2"]::after {
                    width: 16px;
                    opacity: 0.75;
                    filter: saturate(0.5);
                }
                &[data-level="3"]::after {
                    width: 24px;
                    opacity: 1;
                }
                span {
                    z-index: 10;
                    position: relative;
                    @include small-text;
                    color: $gray50;
                    font-weight: 200;
                    line-height: 1.2;
                }
                &:hover {
                    transform: translateZ(30px);
                }
            }
            &:hover dd {
                transform: translateZ(10px);
            }
        }
        .level-li {
            margin-top: 20px;
            padding-left: 24px;
            // width: fit-content;
            // margin-left: auto;

            li {
                display: flex;
                align-items: center;

                gap: 12px;
                @include small-text;
                color: $gray100;

                .circle {
                    display: block;
                    width: 24px;

                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        border-top: 5px dotted #478bff;
                    }
                    &[data-level="1"]::after {
                        width: 6px;
                        opacity: 0.5;
                        filter: saturate(0);
                    }
                    &[data-level="2"]::after {
                        width: 16px;
                        opacity: 0.75;
                        filter: saturate(0.5);
                    }
                    &[data-level="3"]::after {
                        width: 24px;
                        opacity: 1;
                    }
                }
            }
        }
    }

    //project
    #project {
        .project-wrap {
            .inner {
                position: relative;
                display: flex;
                ul {
                    width: 33.33%;
                    flex-basis: 33.33%;

                    li {
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        line-height: 2;
                        @include sub-title;
                        color: $gray600;
                        border-bottom: 1px solid transparent;
                        cursor: pointer;
                        gap: 4px;
                        .icon {
                            height: 1em;
                        }
                        &.active {
                            color: #fff;
                        }
                    }
                }
            }
            .bg {
                z-index: 0;
                opacity: 1;
                position: absolute;
                right: 0;
                top: 0%;
                width: 66.6%;
                height: 100%;
                perspective: 1000px;
                padding: 0 20px;
                overflow-y: auto;
                // transition: all 0.3s ease-in-out;

                a {
                    position: relative;
                    z-index: 0;
                    transition: all 0.5s ease;
                    filter: brightness(0.5);
                    transform: translateZ(-40px);
                    display: block;

                    img {
                        display: block;
                        width: 100%;
                        object-fit: contain;
                        object-position: left top;
                        aspect-ratio: 700 / 438;
                    }
                    &.active {
                        z-index: 10;
                        display: block;
                        transform: translateZ(0px);
                        filter: brightness(1);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 1);

                        .img {
                            background: #fff;
                        }
                    }
                }
            }
        }
        .info-text {
            margin-top: 20px;
            padding-right: 20px;
            text-align: right;
            color: $gray600;
            @include small-text;
            .name {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 4px;
                @include body-text;
                // font-weight: bold;
                color: $gray300;
            }
            .caption {
                margin-top: 16px;
                @include caption;
            }
        }
    }

    //personality
    #personality {
        overflow: hidden;
        .main-quote {
            line-height: 1.2;
            .emp {
                @include text-gradient;
                font-weight: bold;
            }
        }
    }
    .personality-wrap {
        align-items: center;
    }
    .personality-li {
        padding-left: 4px;
    }
    .personality-li li {
        width: fit-content;
        line-height: 2;
        font-size: 20px;
        color: #a1a1a6;
        transition: all 0.3s ease-in-out;
    }
    .personality-li li.active {
        color: #fff;
    }
    .personality-wrap .icon-box {
        position: relative;
    }
    .personality-wrap .icon-box:before {
        content: "";
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100vw;
        height: 550px;
        background: #1750ac;
        box-shadow: 0 0 20px 20px rgb(0 0 0 /20%);
    }
    .personality-icon {
        position: relative;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        background: #1750ac;
    }
    .personality-icon li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -50%;
        top: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .personality-icon .active {
        right: 0%;
        opacity: 1;
    }
    .personality-icon span {
        font-size: 275px;
        color: #fff;
    }
    .personality-icon .clock {
        transform-origin: center bottom;
    }
    .personality-icon .active span {
        animation-duration: 1.5s;
    }
    .personality-icon .active .clock {
        animation-name: clock;
    }
    .personality-icon .active .process {
        animation-name: process;
    }
    .personality-icon .active .handshake {
        animation-name: handshake;
    }
    .personality-icon .active .book {
        animation-name: book;
    }

    @keyframes clock {
        0% {
            transform: rotate(-5deg);
        }
        12.5% {
            transform: rotate(5deg);
        }
        25% {
            transform: rotate(-5deg);
        }
        37.5% {
            transform: rotate(5deg);
        }
        50% {
            transform: rotate(-5deg);
        }
        62.5% {
            transform: rotate(5deg);
        }
        75% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes process {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(90deg);
        }
        25% {
            transform: rotate(90deg);
        }
        35% {
            transform: rotate(180deg);
        }
        50% {
            transform: rotate(180deg);
        }
        60% {
            transform: rotate(270deg);
        }
        75% {
            transform: rotate(270deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes handshake {
        0% {
            transform: translateY(0);
        }
        14.3% {
            transform: translateY(-5px);
        }
        28.6% {
            transform: translateY(5px);
        }
        42.9% {
            transform: translateY(-5px);
        }
        57.2% {
            transform: translateY(5px);
        }
        71.5% {
            transform: translateY(-5px);
        }
        85.8% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes book {
        0% {
            transform: translateY(0);
        }
        33% {
            transform: translateY(-15px);
        }
        66% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0);
        }
    }

    /* contact */
    #contact {
        position: relative;
        margin-bottom: 52.4px;
        padding-top: 180px;
        .container {
            z-index: 10;
            position: relative;
        }
        .main-quote {
            margin-bottom: 80px;
            text-align: center;
            line-height: 1.2;
            .emp {
                @include text-gradient;
            }
        }

        .profile-img {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 0 auto 80px;
            padding: 1px;
            animation-duration: 1.5s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;

            &::after,
            &::before,
            .aura {
                content: "";
                z-index: 0;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                filter: blur(20px);
                background: linear-gradient(327deg, #f7426f, #ffe260, #14ebd2, #478bff);
            }
            &::after {
                z-index: 1;
                filter: blur(6px);
                background: linear-gradient(327deg, #5b0c20, #fff, #055d53, #123d86);
                animation-name: rotateBg;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                mix-blend-mode: hard-light;
            }
            @keyframes rotateBg {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            .inner {
                z-index: 10;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
            img {
                display: block;
                aspect-ratio: 1 / 1;
                max-width: none;
                object-fit: cover;
                width: 330px;
                height: 330px;
            }
        }

        .contact-li {
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0 15px;
                font-size: 20px;
                .button {
                    position: relative;
                    display: flex;
                    padding: 0 28px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 0;
                    cursor: pointer;

                    border-radius: 40px;
                    @include sub-title;
                    color: $primary;

                    &::before,
                    .bg {
                        content: "";
                        display: block;
                        background: $primary;
                        z-index: 11;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        mix-blend-mode: plus-lighter;
                        transform: translate(-50%, -50%) scale(0);
                    }
                    &.active .bg {
                        animation-name: button-hover;
                        animation-duration: 0.4s;
                        animation-fill-mode: forwards;
                    }
                    &.out::before {
                        animation-direction: reverse;
                        animation-name: button-hover;
                        animation-duration: 0.4s;
                        animation-fill-mode: forwards;
                    }
                    .value {
                        position: relative;
                        z-index: 10;
                    }
                }
            }
        }
        @keyframes button-hover {
            0% {
                margin-top: 40px;
                transform: translate(-50%, -50%) scale(0);
                width: 40px;
            }
            30% {
                margin-top: 0px;
                transform: translate(-50%, -50%) scale(1);
                width: 40px;
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
                width: 100%;
            }
        }
        .description {
            @include body-text;
            text-align: center;
            color: $gray200;
        }

        .star-container {
            z-index: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .shooting-star {
            z-index: 0;
            position: absolute;
            width: 3px;
            height: 80px;
            background: linear-gradient(-45deg, #ffffff, #ebd64a, #000);
            transform: rotate(45deg);
            opacity: 0;
            animation: shooting 2s linear infinite;
        }
        @keyframes shooting {
            from {
                opacity: 0.3;
                transform: translate(20vw, -20vh) rotate(45deg);
            }
            to {
                opacity: 0;
                transform: translate(-20vw, 70vh) rotate(45deg);
            }
        }
    }

    /* footer */
    #footer {
        z-index: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        font-size: 14px;
        color: $gray600;
        background: #161617;
        .copy {
            text-align: right;
        }
    }

    //toast message
    #toast-message {
        z-index: 1000;
        height: 60px;
        position: fixed;
        left: 50%;
        bottom: 10vh;
        width: fit-content;
        max-width: 100%;
        transform: translateX(-50%);
        border-radius: 4px;

        overflow: hidden;

        .inner {
            z-index: 1000;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            visibility: hidden;
        }

        .message {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include sub-title;
            color: $gray50;
            gap: 8px;
            transition: all 0.4s ease-in-out 0.4s;
            opacity: 0;
        }

        &::before,
        &::after {
            content: "";
            z-index: 900;
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            width: 0;
            height: 0;
            background: $primary900;
            transform: translate(-50%, -50%);
            border-radius: 4px;
        }

        &.active {
            .inner {
                width: 100%;
                height: 100%;
                padding: 0 80px;
                visibility: visible;

                .message {
                    animation-name: message-show;
                    animation-duration: 0.6s;
                    animation-fill-mode: forwards;
                    animation-delay: 0.4s;
                }
            }

            &::before {
                animation-name: message-bg-show;
                animation-duration: 0.6s;
                animation-fill-mode: forwards;
            }
        }
        &.fade {
            &::after {
                animation-direction: reverse;
                animation-name: message-bg-show;
                animation-duration: 0.6s;
                animation-fill-mode: forwards;
            }
        }
    }

    @keyframes message-show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes message-bg-show {
        0% {
            margin-top: 60px;
            width: 0;
            height: 0;
        }
        30% {
            margin-top: 0;
            width: 60px;
            height: 60px;
        }
        100% {
            width: 100%;
            height: 60px;
        }
    }

    //floating
    #floating {
        z-index: 2000;
        position: fixed;
        right: 20px;
        bottom: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        gap: 8px;

        border: 0;
        background: $primary900;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

        transform: scale(0);
        transition: transform 0.3s ease-in-out;

        &.active {
            transform: scale(1);
        }
        .bar {
            width: 34px;
            height: 4px;
            border-radius: 4px;
            background: #fff;
            transition: all 0.3s ease;
        }
        &.off {
            z-index: 2001;
            opacity: 0.6;
            background: transparent;
            box-shadow: none;

            &:hover {
                opacity: 1;
            }

            .b1 {
                transform-origin: left center;
                transform: rotate(45deg);
            }
            .b2 {
                opacity: 0;
            }
            .b3 {
                transform-origin: left center;
                transform: rotate(-45deg);
            }
        }
    }

    #side-menu {
        z-index: 2000;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding: 80px;
        background: rgba(0, 0, 0, 0.77);
        backdrop-filter: blur(4px);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        &.on {
            visibility: visible;
            opacity: 1;
        }

        .menu-list {
            padding-top: 40px;
            display: flex;
            flex-flow: column;
            gap: 20px;

            button {
                display: inline-block;
                @include second-title;
                color: $gray300;
                border: 0;
                cursor: pointer;
                text-transform: uppercase;
                background: transparent;
                font-weight: bold;
                &:hover {
                    color: #fff;
                }
            }
        }

        .icon-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .button {
                color: #fff;
                background: transparent;
                border: 0;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
            .icon {
                font-size: 30px;
                width: 30px;
                font-variation-settings: "FILL" 1;
            }
        }
    }
}
